<header>
    <nav>
        <a href="/">home</a>
        <ul>
            <li><a href="/victims">All Victims</a></li>
            <li><a href="/victims/new">Add Victim</a></li>
            <li><a href="/">Extra Home Button Yay!!!!!</a></li>
        </ul>
    </nav>
</header>